extends layout

block content
  h1= title
  div(id= 'container')
    each message in messages
      div(class= 'message-container')
        p= message.text
        p= message.user
        p= message.added
  a(href="/new") Add Message